<!-- form tag --> 
<h1> Coupon Form</h1>

<%= form_tag coupons_path, method: :post do %>
    <%= fields_for :coupon do |ff| %>  
    <%= ff.label "Coupon Code" %>
    <%= ff.text_field :coupon_code %>  
    <%= ff.label "Store" %>
    <%= ff.text_field :store %>  

    <%= ff.submit "Submit Coupon" %>    
  <% end %>  
  <% end %> 



